@charset "utd-8";

html,body{height: 100%;}
body{display: flex;justify-content: center;align-items: center;gap: 20px;}
/* .imgView{
    position: absolute;
    left: 50%;top: 50%;
    margin-left: -152px;margin-top: -218px;
} */

/* .imgView{
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
} */
.imgView{transition: 0.4s;}
.imgView:hover{
    transform: scale(1.2);
}
.imgView1{overflow: hidden;}
.imgView1 > img{transition: 0.3s;}
.imgView1 > img:hover{
    transform: scale(1.2);
}


/* .imgView1{overflow: hidden;}
.imgView1 > img{transition: 0.3s;}
.imgView1:hover > img{transform: scale(1.2);} */

.imgView2{}
.imgView2>img{transition: 0.3s;}
.imgView2>img:hover{transform: translateY(-20px) rotate(5deg);
    box-shadow: -20px 10px 20px rgba(0,0,0,0.5);
}